<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>moim | Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <style>
        table {background-color:white;}
        td {min-width: 100px; max-width: 300px;}
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div class="preloader flex-column justify-content-center align-items-center">
    </div>

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="/manage" class="nav-link">Home</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                    <i class="fas fa-expand-arrows-alt"></i>
                </a>
            </li>
            <li>
                <a th:if="${session.email == null}" class="nav-link" href="/manage/login">LOGIN</a>
                <a th:if="${session.email != null}" class="nav-link" href="/manage/logout">LOGOUT</a>
            </li>
        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="/manage" class="brand-link">
            <span class="brand-text font-weight-light">moim <span  th:text="${session.email}"></span></span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->

                    <th:block th:if="${session.email != null}">
                        <li class="nav-header">상위 노출</li>
                        <li class="nav-item">
                            <a href="/manage/upper" class="nav-link">
                                <i class="nav-icon far fa-circle text-warning"></i>
                                <p class="text">업소</p>
                            </a>
                        </li>
                    </th:block>

                </ul>
            </nav>
        </div>
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">상위노출 업소 신청 현황</h1>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <div>
            <table border="1" style="margin-top: 30px; margin-left: 30px;">
                <tr>
                    <th></th>
                    <th>신청자 아이디</th>
                    <th>사업자 등록번호</th>
                    <th>업소 이름</th>
                    <th>분류</th>
                    <th>홈페이지</th>
                    <th>등록증 이미지</th>
                    <th>주소</th>
                    <th>신청기간</th>
                    <th>신청일자</th>
                    <th>노출 시작 일자</th>
                    <th>노출 종료 일자</th>
                    <th>처리상태</th>
                    <th>처리</th>
                </tr>
                <tr th:each="place, index : ${places}">
                    <td th:text="${place.id}"></td>
                    <td th:text="${place.userId}"></td>
                    <td th:text="${place.placeId}"></td>
                    <td th:text="${place.placeName}"></td>
                    <td th:text="${place.categoryId}"></td>
                    <td><a th:href="${place.page}" target="_blank">보기</a></td>
                    <td><a th:href="${place.crn}" target="_blank">보기</a></td>
                    <td th:text="${place.sido + ' ' + place.sigungu + ' ' + place.dong}"></td>
                    <td th:text="${place.period}"></td>
                    <td th:text="${place.createDate}"></td>
                    <td th:text="${place.recStartDate}"></td>
                    <td th:text="${place.recEndDate}"></td>
                    <td th:text="${place.status}" th:id="'status'+${index.index}"></td>
                    <td th:id="'btn'+${index.index}">
                        <button th:if="${place.status == '-'}" th:onclick="'javascript:confirm(' + ${place.id} + ',' + ${index.index} + ');'">승인</button>
                        <button th:if="${place.status == '-'}" th:onclick="'javascript:reject(' + ${place.id} + ',' + ${index.index} + ');'">반려</button>
                        <div th:if="${place.status == 'Y'}">승인됨</div>
                        <div th:if="${place.status == 'N'}">반려됨</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <footer class="main-footer">
        <strong>Copyright &copy; 2022 <a href="#">moim</a></strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 3.2.0
        </div>
    </footer>

    <aside class="control-sidebar control-sidebar-dark">
    </aside>
</div>
<script>
    function confirm(id, index) {
        $.ajax({
            url: "/manage/accept",
            async: true,
            data: JSON.stringify({
             id: id
            }),
            method: "POST",
            contentType: "application/json"
        }).done(function(data) {
            $("#status" + index).text("Y");
            $("#btn" + index).text("승인됨");
        }).fail(function(xhr, status, errorThrown) {
            console.log("오류명: " + errorThrown)
            console.log("상태: " + status);
        })
    }

    function reject(id, index) {
        $.ajax({
            url: "/manage/reject",
            async: true,
            data: JSON.stringify({
             id: id
            }),
            method: "POST",
            contentType: "application/json"
        }).done(function(data) {
            $("#status" + index).text("N");
            $("#btn" + index).text("거절됨");
        }).fail(function(xhr, status, errorThrown) {
            console.log("오류명: " + errorThrown)
            console.log("상태: " + status);
        })
    }
</script>
</body>
</html>
